<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" th:with="contextPath = ${@environment.getProperty('server.servlet.context-path')}">
  
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="${contextPath + '/assets/custom/image/favicon.png'}">
    <title>Table Creation Add</title>
    
	<!-- Bootstrap 4.0-->
	<link rel="stylesheet" th:href="${contextPath + '/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css'}">
	<link rel="stylesheet" th:href="${contextPath + '/assets/custom/fontawesome/css/font-awesome.css'}">
	<link rel="stylesheet" th:href="${contextPath + '/assets/vendor_components/datatable/datatables.min.css'}"/>
    <link rel="stylesheet" th:href="${contextPath + '/assets/custom/plugins/bootstrap-select/css/bootstrap-select.min.css'}">
	
	<link rel="stylesheet" th:href="${contextPath + '/assets/custom/plugins/Datedropper/datedropper.css'}">
    <link rel="stylesheet" th:href="${contextPath + '/assets/custom/plugins/Timedropper/timedropper.css'}">

	<!-- Bootstrap extend-->
	<link rel="stylesheet" th:href="${contextPath + '/assets/css/bootstrap-extend.css'}">
	
	<!-- theme style -->
	<link rel="stylesheet" th:href="${contextPath + '/assets/css/master_style.css'}">
	
	<!-- horizontal menu style -->
	<link rel="stylesheet" th:href="${contextPath + '/assets/css/horizontal_menu_style.css'}">
    
	<!-- Fab Admin skins -->
	<link rel="stylesheet" th:href="${contextPath + '/assets/css/skins/_all-skins.css'}">
	<link rel="stylesheet" th:href="${contextPath + '/assets/custom/css/custom.css'}">
    <link th:href="${contextPath + '/assets/custom/css/fonts.css'}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="${contextPath + '/assets/custom/plugins/jquery_confirm_v3/jquery-confirm.min.css'}">
    <link th:href="${contextPath+ '/assets/toastr/toastr.min.css'}" rel="stylesheet" type="text/css">
  </head>

<body class="hold-transition skin-purple-light layout-top-nav">
		<div class="preloader"></div>
<div class="wrapper">
<th:block th:insert="common/header:: header"></th:block>
	<th:block th:insert="common/menu::menu"></th:block>
<!-- 	<script th:src="${contextPath + '/assets/custom/js/header.js'}"></script> -->

<!-- 		 <script th:src="${contextPath + '/assets/custom/js/menu.js'}"></script> -->
		<script language="javascript" type="text/javascript">
			document.getElementById('table_definition').className = "nav-item dropdown m-menu m-fix active";
            document.getElementById('table_definition').className = "nav-item active";
		</script>

		
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

           
                
		<div class="row">
			<div class="col-12 col-md-12 col-sm-12">
				<div class="box">
						<div class="box-header with-border less-padding">
								<h3 class="box-title">Table Creation Add <span class="badge badge-info ml-2"  th:text="${tablename}"></span></h3>
								<ul class="list-unstyled pull-right mt-1 header">
									<li>
										<a href="#" class="btn btn-success waves-effect text-left btn-sm text-white" id="adduserdetails">Add Row</a>
									</li>
								  </ul>
							</div>
					    <div class="box-body">
                            <div class="table-responsive custom-table-design">
                                <table class="table mb-0 adduservalue" id="creadtablefordom" style="width: 100%;">
                                         <input type="hidden" name="tabledefinitionid" id="tablenameid" th:if="${tablenameid}" th:value="${tablenameid}" >
                                        <thead>
                                            <tr>
                                                <th width="15%">Column Name</th>
                                                <th>Description</th>
                                                <th>Column Type</th>
                                                <th width="10%">Column Value</th>
<!--                                                 <th width="10%">Default</th> -->
                                                <th class="text-center" width="8%">Is Mandotary</th>
                                                <th class="text-center" width="8%">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                            </div>    
                            
                            <div class="text-center border-top mt-1 pt-2">
                                <a href="#" class="btn btn-success btn-sm text-white mr-1 delete-user-alert" id="saveform">Save</a>
<!--                                 <a th:href="${contextPath + '/tabledef'}" class="btn btn-danger waves-effect text-left btn-sm text-white" >Cancel</a> -->
 								<a onclick="return canceltablecreationpage() " class="btn btn-danger waves-effect text-left btn-sm text-white" >Cancel</a>
                            
                            </div>
                        </div>
				</div>
			</div>
		</div>

	

	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
</div>
<!-- ./wrapper -->
  	
	 
	  
	<!-- jQuery 3 -->
	<script th:src="${contextPath + '/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js'}"></script>
	
	<!-- jQuery UI 1.11.4 -->
	<script th:src="${contextPath + '/assets/vendor_components/jquery-ui/jquery-ui.js'}"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	
	<!-- popper -->
	<script th:src="${contextPath + '/assets/vendor_components/popper/dist/popper.min.js'}"></script>
	
	<!-- Bootstrap 4.0-->
	<script th:src="${contextPath + '/assets/vendor_components/bootstrap/dist/js/bootstrap.js'}"></script>
	<script th:src="${contextPath + '/assets/custom/plugins/bootstrap-select/js/bootstrap-select.js'}"></script>
	<!-- Slimscroll -->
	<script th:src="${contextPath + '/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js'}"></script>
	
	<!-- FastClick -->
	<script th:src="${contextPath + '/assets/vendor_components/fastclick/lib/fastclick.js'}"></script>
	

	<!-- Fab Admin App -->
	<script th:src="${contextPath + '/assets/js/template.js'}"></script>
	
	<!-- Fab Admin for demo purposes -->
	<script th:src="${contextPath + '/assets/js/demo.js'}"></script>
    
    <script th:src="${contextPath + '/assets/custom/plugins/Datedropper/datedropper.js'}" type="text/javascript"></script>
    <script th:src="${contextPath + '/assets/custom/plugins/Timedropper/timedropper.js'}" type="text/javascript"></script>

    <script th:src="${contextPath + '/assets/vendor_components/datatable/datatables.min.js'}"></script>
    
    <script th:src="${contextPath + '/assets/custom/plugins/jquery_confirm_v3/jquery-confirm.min.js'}"></script>
    <script th:src="${contextPath + '/assets/custom/plugins/jquery_confirm_v3/jquery-confirm-custom.js'}"></script>

    <script th:src="${contextPath + '/assets/js/pages/data-table.js'}"></script>
    <script th:src="${contextPath + '/assets/custom/js/custom.js'}"></script>
            <script th:src="${contextPath + '/thymejs/common/common.js'}"></script>
       <script th:src="${contextPath + '/thymejs/master/tablecreationadd/tablecreationadd.js'}"></script>
       <script th:src="${contextPath + '/assets/toastr/toastr.min.js'}"></script>
     <script th:inline="javascript">
	const contextPath = [[${contextPath + "/"}]];
</script>
    
    
<!--     <script> -->
<!-- //         $('.delete-user-alert').on('click', function () { -->
<!-- //             $.confirm({ -->
<!-- //                 title: 'Delete User..!', -->
<!-- //                 content: 'please be sure before deleting User', -->
<!-- //                 theme: 'material', -->
<!-- //                 icon: 'fa fa-warning', -->
<!-- //                 type: 'red', -->
<!-- //                 buttons: { -->
<!-- //                     omg: { -->
<!-- //                         text: 'Delete', -->
<!-- //                         btnClass: 'btn-red', -->
<!-- //                     }, -->
<!-- //                     close: function () { -->
<!-- //                     } -->
<!-- //                 } -->
<!-- //             }); -->
<!-- //         }); -->
        
<!-- //         jQuery(".adduservalue").on("click", ".RemoveRecord", function() { -->
<!-- //             jQuery(this).closest("tr").remove(); -->
<!-- //         }); -->
<!-- //          var count=4; -->
        
<!--       </script> -->
<!--         <button id="add-new">Add New Row</button> -->
<!--     <table id="student-table"> -->
<!--         <thead> -->
<!--             <tr> -->
<!--                 <th>Roll No</th> -->
<!--                 <th>Student Name</th> -->
<!--             </tr> -->
<!--         </thead> -->
<!--     </table> -->
      <script>
//         $(function($) {
//              $("#adduserdetails").click(function() {
//                 let table = $("#creadtablefordom");
//                 let tr = $("<tr>");
//                 let td=$("<td>");
//                 let inp = $("<td>").append($("<input>").attr({type: "text", id: "columnname", name: "columnname"}).addClass("form-control").val(""));
//                 let textareadom = $("<td>").append($("<textarea>").addClass("form-control").val(""));
//                 let selectdom = $("<td>").append($("<select id='columntypeid' name='columntypeid'>").append('<option value="number" selected="selected">Number</option>').append('<option value="Date" selected="selected">Date</option>').addClass("form-control").val(""));
// //                 selectdom.append($("<option>").attr("value","paras").text(""));
//                 let decimaldom = $("<td>").append($("<input>").attr("type", "text").addClass("form-control").val(""));
//                 let defaultdom = $("<td>").append($("<input>").attr("type", "text").addClass("form-control").val(""));
//                 //let checkboxdom = $("<td>").append($('<input/>').attr({ type: 'checkbox', name:'chk', id: 'checkbox_mandate'}).addClass("mb-0"));
//                 let checkboxdom = $("<td>").append('<input type="checkbox" name="chk" id="checkbox_mandate" /><label for="basic_checkbox">This is a test.</label>');
                
//                // var ctrl = $('<input/>').attr({ type: 'checkbox', name:'chk'}).addClass("mb-0");
//                 let delBtn = $("<td>").addClass("delete-product").attr("id","test").append($("<i>").addClass("fa fa-trash font-size-16 text-danger")).append('<input type="hidden" id="creationid" name="creationid" />');
//               td.append('<input type="checkbox" name="chk" id="checkbox_mandate" /><label for="basic_checkbox"></label>');
                
//                 tr.append(inp);
//                 tr.append(textareadom);
//                 tr.append(selectdom).append(decimaldom).append(defaultdom).append(checkboxdom).append(delBtn);
//                 //tr.append($("<td>").append($("<p>").addClass("lable-color label-back").text("Falgun Rangani")));
//                 table.append(tr);
                
//                // var addNewRow = "<tr><td class=''><input type='text' id='columnname' name='columnname' class='form-control'/></td><td><textarea rows='1' name='columndescription' id='columndescription' class='form-control' style='resize: none;'></textarea></td><td class=''><select class='form-control selectpicker'  id='select2"+count+"' name='columntypeid'  data-style='lineheight15 bg-transfer' data-live-search='true' data-title='Select File Type' data-size='10' data-container='body'><option value='' selected='selected'>Select</option><option value='1'>Numeric</option><option value='2'>Text</option><option value='3'>Date</option></select></td><td><input type='text' class='form-control'/></td><td class=''><input type='text' class='form-control'/></td><td class='text-center'><input type='checkbox' id='basic_checkbox_"+count+"' /><label for='basic_checkbox_"+count+"' class='mb-0'>&nbsp;</label></td><td class='text-center'><a href='#' class='RemoveRecord' data-toggle='tooltip' title='Delete' data-placement='bottom'><i class='fa fa-trash font-size-16 text-danger'></i></a></td></tr>";
//             }); 
//         });
    </script>

</body>
</html>
